@model ForumSystem.Web.InputModels.AnswerReports.AnswerReportInputModel
    
@using (Ajax.BeginForm("Create", "AnswerReports", new { id = Model.AnswerId }, new AjaxOptions
{
    HttpMethod = "POST",
    InsertionMode = InsertionMode.InsertAfter,
    OnFailure = "showAnswerRequiredError",
    OnSuccess = "showReportSuccess"
}))
{
    @Html.AntiForgeryToken()

    @Html.HiddenFor(model => model.AnswerId)
    @Html.ValidationSummary(true, string.Empty, new { @class = "text-danger" })

    <div class="row">
        <div class="col-md-12">
            @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Description, string.Empty, new { @class = "text-danger" })
            <div id="field-validation-error-message"></div>
        </div>
    </div>
    <div class="row top-buffer bottom-buffer post-actions-toolbar">
        <div class="col-md-12">
            <input type="submit" value="Report" class="btn btn-success pull-left left-buffer" />
            <input type="button" value="Cancel" class="btn btn-primary pull-right right-buffer" onclick="closeAnswerReportForm()" />
        </div>
    </div>
}

<script>
    function showReportSuccess(data) {
        $('<div class="alert alert-dismissible alert-success">'
                + data
                + '</div>')
            .prependTo('#answer-action-success-@Model.AnswerId')
            .delay(3000).fadeOut();

        closeAnswerReportForm();
    }

    function closeAnswerReportForm() {
        $("#answer-action-container-@Model.AnswerId").empty();
    }
</script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}