@using PagedList.Mvc
@model PagedList.IPagedList<ForumSystem.Web.ViewModels.Post.PostConciseViewModel>

@{
    var categoryId = Model.Select(m => m.CategoryId).FirstOrDefault();
}

@if (Model.Any())
{
    foreach (var post in Model)
    {
        <article class="forum-post">
            <div class="head-post">
                <h2 class="post-title">
                    <a href="@Url.Action("Details", "Posts", new { area = string.Empty, id = post.Id })" title="@post.Title">
                        @post.Title
                    </a>
                </h2>
                <p>
                    <span class="user-wrap">
                        <span class="user-avatar">
                            @if (!string.IsNullOrEmpty(post.AuthorPictureUrl))
                            {
                                <img src="@Url.Content(post.AuthorPictureUrl)" alt="@(post.Author) avatar" />
                            }
                        </span>
                        <span class="cell">
                            <a href="" class="user-name">@post.Author</a>
                        </span>
                    </span>
                    <span class="item-wrap">
                        <span class="icon-holder">
                            <i class="glyphicon glyphicon-calendar"></i>
                        </span>
                        <span class="post-date">
                            @post.CreatedOn
                        </span>
                    </span>
                    <span class="item-wrap category-wrap">
                        <span class="icon-holder">
                            <i class="glyphicon glyphicon-folder-open"></i>
                        </span>
                        <a href="" class="category-post">
                            @post.Category
                        </a>
                    </span>
                </p>
            </div>
            <div class="meta-info">
                <div class="cell buttons-holder pending-vote">
                    <button class="vote-btn arrow-btn up-btn">
                        <i class="glyphicon glyphicon-chevron-up"></i>
                    </button>
                    <button class="vote-btn arrow-btn down-btn">
                        <i class="glyphicon glyphicon-chevron-down"></i>
                    </button>
                </div>
                <div class="cell stats-holder">
                    <span class="item-wrap votes-post">
                        <span class="icon-holder">
                            <i class="glyphicon glyphicon-hand-right"></i>
                        </span>
                        <span class="cell">0</span>
                    </span>
                    <span class="item-wrap">
                        <span class="icon-holder">
                            <i class="glyphicon glyphicon-eye-open"></i>
                        </span>
                        <span class="cell">0</span>
                    </span>
                    <span class="item-wrap">
                        <span class="icon-holder">
                            <i class="glyphicon glyphicon-comment"></i>
                        </span>
                        <span class="cell">@post.AnswersCount</span>
                    </span>
                </div>
            </div>
        </article>
    }

    <div class="pagination-container">
        <div class="inner-holder">
            @Html.PagedListPager(Model, page => Url.Action("Details", new { id = categoryId, page }), PagedListRenderOptions.ClassicPlusFirstAndLast)
        </div>
    </div>
}
else
{
    <div class="row">
        <div class="col-md-12">
            <h1 class="text-center">No posts available for this category</h1>
        </div>
    </div>
}


