@model ForumSystem.Web.ViewModels.Categories.CategoryConciseViewModel

<article class="forum-post">
    <div class="head-post">
        <h2 class="post-title">
            <a href="@Url.Action("Details", "Categories", new { area = string.Empty, id = Model.Id })">
                @Model.Title
            </a>
        </h2>
        <p>
            @if (!string.IsNullOrEmpty(Model.Description))
            {
                <span class="item-wrap">
                    <span class="icon-holder">
                        <i class="fa fa-tag"></i>
                    </span>
                    <span class="description">
                        @Model.Description
                    </span>
                </span>
            }
        </p>
    </div>
    <div class="meta-info">
        <div class="cell stats-holder">
            <span class="item-wrap">
                <span class="icon-holder" title="Posts">
                    <i class="fa fa-files-o"></i>
                </span>
                <span class="cell">@Model.PostsCount</span>
            </span>
            @Html.Action("CategoryAllReplies", "LastActivities", new { area = string.Empty, id = Model.Id })
        </div>
        @Html.Action("LastPost", "LastActivities", new { area = string.Empty, id = Model.Id })
    </div>
</article>