@model ForumSystem.Web.ViewModels.Category.CategoryViewModel

@{
    ViewBag.Title = Model.Title;
}

<div class="row">

    @if (User.Identity.IsAuthenticated)
    {
        <a href="@Url.Action("Create", "Posts", new { area = string.Empty, id = Model.Id })" class="btn btn-success">
            <i class="glyphicon glyphicon-plus"></i>
            <span>New Post</span>
        </a>
    }

    <h3> Category: @Model.Title</h3>
    <h5>Description: @Model.Description</h5>
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-body">

                @foreach (var post in Model.Posts)
                {
                    <a href="@Url.Action("Details", "Posts", new { area = string.Empty, id = post.Id })">
                        <strong>@post.Title</strong>
                    </a>
                    <p>Author: @post.Author</p>
                    <p>Category: @post.Category</p>
                    <p>CreatedOn: @post.CreatedOn</p>
                    <p>Answers: @post.AnswersCount</p>

                    <hr />
                }

            </div>
        </div>
    </div>
</div>