@using System

@using ForumSystem.Common.Constants

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Forum System</title>
    @Styles.Render("~/Content/css")

</head>
<body>
    <div class="lead-wrapper">
        <div class="header-wrapper">
            <div class="navbar navbar-default margin-bottom">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        @Html.ActionLink("Forum System", "Index", "Home", new { area = string.Empty }, new { @class = "navbar-brand" })
                    </div>
                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            <li>@Html.ActionLink("Home", "Index", "Home", new { area = string.Empty }, null)</li>
                            @if (User.IsInRole(RoleConstants.Moderator))
                            {
                                <li class="dropdown">
                                    <a href="" class="dropdown-toggle" id="moderator-menu" data-toggle="dropdown">
                                        <i class="glyphicon glyphicon-user"></i>
                                        Moderator
                                        <span class="caret"></span>
                                    </a>
                                    <ul class="dropdown-menu" role="menu" aria-labelledby="moderator-menu">
                                        <li class="text-center" role="presentation">
                                            <a href="@Url.Action("All", "PostReports", new { area = "Moderator" })" role="menuitem">Posts Reports</a>
                                        </li>
                                        <li class="text-center" role="presentation">
                                            <a href="@Url.Action("All", "AnswerReports", new { area = "Moderator" })" role="menuitem">Answers Reports</a>
                                        </li>
                                        <li class="text-center" role="presentation">
                                            <a href="@Url.Action("All", "CommentReports", new { area = "Moderator" })" role="menuitem">Comments Reports</a>
                                        </li>
                                    </ul>
                                </li>
                            }
                        </ul>
                        @Html.Partial("_LoginPartial")
                    </div>
                </div>
            </div>
        </div>
        <div class="heading-wrapper">
            <div class="breadcrumb">
                <div class="cell-page-title">
                    <div class="container container-holder">
                        <h1 class="page-title">@ViewBag.Title</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container main-container container-holder">
        @RenderBody()
        <hr />
        <footer>
            <p>
                &copy; @DateTime.Now.Year - <a href="https://github.com/dmstoyanov/ForumSystem">Forum System</a>
            </p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/administration-scripts")
    @RenderSection("scripts", false)
</body>
</html>