@model HandleErrorInfo

@{
    ViewBag.Title = "Error";

    var exception = Model.Exception.InnerException;
}

<hgroup>
    <h1 class="text-danger">An error occurred while processing your request.</h1>
    <h2 class="text-danger">@Model.Exception.Message</h2>
</hgroup>

<pre>@Model.Exception.ToString()</pre>

@while (exception != null)
{
    <h3>@exception.Message</h3>
    <pre>@exception.ToString()</pre>

    exception = exception.InnerException;
}

<p>Controller name: @Model.ControllerName</p>
<p>Action name: @Model.ActionName</p>  