@using ForumSystem.Web.Infrastructure.Extensions
@using Microsoft.AspNet.Identity

@model ForumSystem.Web.ViewModels.Posts.PostViewModel

<div id="@Model.Id">
    <div class="forum-post post-item highlighted-post">
        <div class="head-post table-holder">
            <div class="cell">
                <div class="user-wrap">
                    <span class="user-avatar">
                        @if (!string.IsNullOrEmpty(Model.AuthorPictureUrl))
                        {
                            <img src="@Url.Content(Model.AuthorPictureUrl)" alt="@(Model.Author) avatar" />
                        }
                    </span>
                    <span class="cell">
                        <a href="" class="user-name">@Model.Author</a>
                    </span>
                </div>
            </div>
        </div>
        <div class="post-content">
            <h2 class="post-title">
                <a href="@Url.Action("Details", "Posts", new { area = string.Empty, id = Model.Id })">@Model.Title</a>
            </h2>
            @Html.Raw(Model.Content)
        </div>
        <div class="meta-info">
            @if (User.IsLoggedIn())
            {
                <div class="cell" id="post-like-@Model.Id">
                    @Html.Action("Like", "PostLikes", new { area = string.Empty, id = Model.Id })
                </div>
            }
            else
            {
                <div class="cell stats-holder">
                    <div class="table-holder">
                        <div class="cell">
                            <span class="item-wrap votes-post">
                                <span class="icon-holder">
                                    <i class="glyphicon glyphicon-thumbs-up"></i>
                                </span>
                                <span class="cell">@Model.LikesCount</span>
                            </span>
                        </div>
                    </div>
                </div>
            }
            <div class="cell post-details-holder">

                <div class="table-holder">
                    <div class="cell">
                        <span class="item-wrap">
                            <span class="icon-holder" title="Created On">
                                <i class="glyphicon glyphicon-calendar"></i>
                            </span>
                            <span class="post-date" title="Created On">
                                @Model.CreatedOn
                            </span>
                        </span>
                        <span class="item-wrap category-wrap">
                            <span class="icon-holder" title="Category">
                                <i class="glyphicon glyphicon-folder-open"></i>
                            </span>
                            <a href="@Url.Action("Details", "Categories", new { area = string.Empty, id = Model.CategoryId })" class="cell" title="Category">
                                @Model.Category
                            </a>
                        </span>
                        @if (Model.ModifiedOn.HasValue)
                        {
                            <span class="item-wrap category-wrap">
                                <span class="icon-holder" title="Last Modified">
                                    <i class="glyphicon glyphicon-refresh"></i>
                                </span>
                                <span class="last-redaction cell" title="Last Modified">
                                    <span class="date-time">@Model.ModifiedOn</span>
                                </span>
                            </span>
                        }

                        @if (Model.ReportsCount > 0)
                        {
                            <span class="item-wrap category-wrap" title="Reports">
                                <span class="icon-holder">
                                    <i class="glyphicon glyphicon-bell"></i>
                                </span>
                                <span>@Model.ReportsCount</span>
                            </span>
                        }
                    </div>
                </div>
            </div>
        </div>

        @if (User.IsLoggedIn())
        {
            <div class="meta-info table-holder meta-details post-actions-toolbar">
                <div class="cell buttons-holder">
                    <div class="table-holder">
                        <div class="cell">
                            @Ajax.ActionLink("Answer", "Create", "Answers", new { id = Model.Id }, new AjaxOptions
                       {
                           HttpMethod = "GET",
                           InsertionMode = InsertionMode.Replace,
                           UpdateTargetId = "answer-action-container"
                       }, new { @class = "btn btn-primary" })
                            @if (User.Identity.GetUserId() == Model.AuthorId)
                            {
                                <a href="@Url.Action("Edit", "Posts", new { area = string.Empty, id = Model.Id })" class="btn btn-primary">
                                    Edit
                                </a>
                            }

                            @if (User.IsModerator() || User.IsAdmin())
                            {
                                <a href="@Url.Action("Edit", "Posts", new { area = "Moderator", id = Model.Id })" class="btn btn-warning">
                                    Edit
                                </a>
                            }

                            @if (User.Identity.GetUserId() != Model.AuthorId)
                            {
                                @Ajax.ActionLink("Report", "Create", "PostReports", new { area = string.Empty, id = Model.Id }, new AjaxOptions
                           {
                               HttpMethod = "GET",
                               InsertionMode = InsertionMode.Replace,
                               UpdateTargetId = "answer-action-container"
                           }, new { @class = "btn btn-default" })
                            }
                        </div>
                    </div>
                </div>
            </div>

            <div class="meta-info" id="answer-action-container"></div>
            <div id="report-action-success"></div>
        }

    </div>
</div>