@model ForumSystem.Web.ViewModels.Posts.PostConciseViewModel

<article class="forum-post">
    <div class="head-post">
        <h2 class="post-title">
            <a href="@Url.Action("Details", "Posts", new { area = string.Empty, id = Model.Id })" title="@Model.Title">
                @Model.Title
            </a>
        </h2>
        <p>
            <span class="user-wrap">
                <span class="user-avatar">
                    @if (!string.IsNullOrEmpty(Model.AuthorPictureUrl))
                    {
                        <img src="@Url.Content(Model.AuthorPictureUrl)" alt="@(Model.Author) avatar" />
                    }
                </span>
                <span class="cell">
                    <a href="" class="user-name">@Model.Author</a>
                </span>
            </span>
            <span class="item-wrap">
                <span class="icon-holder">
                    <i class="glyphicon glyphicon-calendar"></i>
                </span>
                <span class="post-date">
                    @Model.CreatedOn
                </span>
            </span>
            <span class="item-wrap category-wrap">
                <span class="icon-holder">
                    <i class="glyphicon glyphicon-folder-open"></i>
                </span>
                <a href="" class="category-post">
                    @Model.Category
                </a>
            </span>
        </p>
    </div>
    <div class="meta-info">
        <div class="cell" id="post-like-@Model.Id">
            @Html.Action("Like", "PostLikes", new { area = string.Empty, id = Model.Id })
        </div>
        <div class="cell stats-holder">

            <span class="item-wrap">
                <span class="icon-holder">
                    <i class="glyphicon glyphicon-eye-open"></i>
                </span>
                <span class="cell">0</span>
            </span>
            <span class="item-wrap">
                <span class="icon-holder">
                    <i class="glyphicon glyphicon-comment"></i>
                </span>
                <span class="cell">@Model.AnswersCount</span>
            </span>
            @if (Model.ReportsCount > 0)
            {
                <span class="item-wrap">
                    <span class="icon-holder">
                        <i class="glyphicon glyphicon-bell"></i>
                    </span>
                    <span class="cell">@Model.ReportsCount</span>
                </span>
            }
        </div>
        @Html.Action("Post", "LastActivities", new { area = string.Empty, id = Model.Id })
    </div>
</article>