@using ForumSystem.Web.Infrastructure.Extensions

@model ForumSystem.Web.ViewModels.Users.UserViewModel

<div class="profile-wrapper">
    <div class="row base-info">
        <div class="col-md-9">
            <div class="row base-info">
                <div class="col-sm-12 col-xs-12">
                    <div class="user-wrap">
                        <div class="col-md-3">
                            <div class="head-info">
                                <div class="user-avatar">
                                    @Html.Action("GetUserImage", "Users", new { area = string.Empty, id = Model.Id })
                                </div>
                                <div class="">
                                    <ul class="profile-info-social">
                                        <li>
                                            @if (!string.IsNullOrEmpty(Model.LinkedInProfile))
                                            {
                                                <a href="@Model.LinkedInProfile" class="social-item" target="_blank">
                                                    <i class="fa fa-linkedin"></i>
                                                </a>
                                            }
                                            else
                                            {
                                                <span class="social-item empty">
                                                    <i class="fa fa-linkedin"></i>
                                                </span>
                                            }
                                        </li>
                                        <li>
                                            @if (!string.IsNullOrEmpty(Model.GitHubProfile))
                                            {
                                                <a href="@Model.GitHubProfile" class="social-item" target="_blank">
                                                    <i class="fa fa-github"></i>
                                                </a>
                                            }
                                            else
                                            {
                                                <span class="social-item empty">
                                                    <i class="fa fa-github"></i>
                                                </span>
                                            }
                                        </li>
                                        <li>
                                            @if (!string.IsNullOrEmpty(Model.StackOverflowProfile))
                                            {
                                                <a href="@Model.StackOverflowProfile" class="social-item" target="_blank">
                                                    <i class="fa fa-stack-overflow"></i>
                                                </a>
                                            }
                                            else
                                            {
                                                <span class="social-item empty">
                                                    <i class="fa fa-stack-overflow"></i>
                                                </span>
                                            }
                                        </li>
                                        <li>
                                            @if (!string.IsNullOrEmpty(Model.FacebookProfile))
                                            {
                                                <a href="@Model.FacebookProfile" class="social-item" target="_blank">
                                                    <i class="fa fa-facebook"></i>
                                                </a>
                                            }
                                            else
                                            {
                                                <span class="social-item empty">
                                                    <i class="fa fa-facebook"></i>
                                                </span>
                                            }
                                        </li>
                                        <li>
                                            @if (!string.IsNullOrEmpty(Model.TwitterProfile))
                                            {
                                                <a href="@Model.TwitterProfile" class="social-item" target="_blank">
                                                    <i class="fa fa-twitter"></i>
                                                </a>
                                            }
                                            else
                                            {
                                                <span class="social-item empty">
                                                    <i class="fa fa-twitter"></i>
                                                </span>
                                            }
                                        </li>
                                        <li>
                                            @if (!string.IsNullOrEmpty(Model.SkypeProfile))
                                            {
                                                <a href="skype:@(Model.SkypeProfile)?chat" class="social-item" target="_blank">
                                                    <i class="fa fa-skype"></i>
                                                </a>
                                            }
                                            else
                                            {
                                                <span class="social-item empty">
                                                    <i class="fa fa-skype"></i>
                                                </span>
                                            }
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-9">
                            <div class="cell">
                                <div class="profile-info">
                                    <div class="panel panel-default info-holder">
                                        <div class="panel-heading heading-wrap ">
                                            <span class="user-name">
                                                @Model.UserName
                                            </span>
                                            @Html.Action("Roles", "Users", new { area = string.Empty, id = Model.Id })
                                        </div>
                                        <div class="panel-body word-wrap">
                                            <div class="col-sm-12">
                                                <div class="col-sm-6 info-wrap">

                                                    @if (User.IsAdmin())
                                                    {
                                                        <div class="user-info">
                                                            <label>Id:</label>
                                                            <span class="user-detail">
                                                                @Model.Id
                                                            </span>
                                                        </div>
                                                    }

                                                    <div class="user-info">
                                                        <label>Email:</label>
                                                        <span class="user-detail">
                                                            <a href="mailto:@Model.Email">
                                                                @Model.Email
                                                            </a>
                                                        </span>
                                                    </div>
                                                    <div class="user-info">
                                                        <label>Website:</label>
                                                        @if (!string.IsNullOrEmpty(Model.WebsiteUrl))
                                                        {
                                                            <span class="user-detail">
                                                                <a href="@Model.WebsiteUrl" target="_blank">
                                                                    @Model.WebsiteUrl
                                                                </a>
                                                            </span>
                                                        }
                                                        else
                                                        {
                                                            @Html.Partial("_NoInformationPartial")
                                                        }
                                                    </div>
                                                    <div class="user-info">
                                                        <label>Phone Number:</label>
                                                        @if (!string.IsNullOrEmpty(Model.PhoneNumber))
                                                        {
                                                            <span class="user-detail">@Model.PhoneNumber</span>
                                                        }
                                                        else
                                                        {
                                                            @Html.Partial("_NoInformationPartial")
                                                        }
                                                    </div>
                                                    <div class="user-info">
                                                        <label>Country:</label>
                                                        @if (!string.IsNullOrEmpty(Model.Country))
                                                        {
                                                            <span class="user-detail">@Model.Country</span>
                                                        }
                                                        else
                                                        {
                                                            @Html.Partial("_NoInformationPartial")
                                                        }
                                                    </div>
                                                    <div class="user-info">
                                                        <label>City:</label>
                                                        @if (!string.IsNullOrEmpty(Model.City))
                                                        {
                                                            <span class="user-detail">@Model.City</span>
                                                        }
                                                        else
                                                        {
                                                            @Html.Partial("_NoInformationPartial")
                                                        }
                                                    </div>
                                                    <div class="user-info">
                                                        <label>Joined on:</label>
                                                        <span class="user-detail">@Model.CreatedOn</span>
                                                    </div>
                                                </div>

                                                <div class="col-sm-6 info-wrap">
                                                    <div class="user-info">
                                                        <label>Occupation:</label>
                                                        @if (!string.IsNullOrEmpty(Model.Occupation))
                                                        {
                                                            <span class="user-detail">@Model.Occupation</span>
                                                        }
                                                        else
                                                        {
                                                            @Html.Partial("_NoInformationPartial")
                                                        }
                                                    </div>
                                                    <div class="user-info">
                                                        <label>Interests:</label>
                                                        @if (!string.IsNullOrEmpty(Model.Interests))
                                                        {
                                                            <span class="user-detail">@Model.Interests</span>
                                                        }
                                                        else
                                                        {
                                                            @Html.Partial("_NoInformationPartial")
                                                        }
                                                    </div>
                                                    <div class="user-info">
                                                        <label>About Me:</label>
                                                        @if (!string.IsNullOrEmpty(Model.AboutMe))
                                                        {
                                                            <span class="user-detail">@Model.AboutMe</span>
                                                        }
                                                        else
                                                        {
                                                            @Html.Partial("_NoInformationPartial")
                                                        }
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>